<div class="image-bg-fixed-height-1">
  <div class="centered"><p>Dobro došao/la {{ username }} u MetHotel </p></div>

   <div class="text-block">
   <p>Noćenje već od 89eur-a<br><br> </p>
   <a href="" class="window-cta">Rezervišite</a>

 </div>
</div>
<section>
       <div class="container" id="ko_smo_mi">
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="section-heading">MET HOTELI</h1>
                   <p class="lead section-lead">Koncept</p>
                   <p class="section-paragraph">MetHotel je prestižni hotel sa 5 zvezdica.Koncept hotela je da vam ispuni svaku vašu želju i san.
                   <br/><br/>
                   MET hotel je savremeno zdanje sa svim neophodnim sadržajima koji će vam olakšati boravak i naterati vas da produžite odmor bar za još neki dan.
                   <br/><br/>
                   Unutrašnjost je dekorisana sa miksom prirodnih materijala i veštačkih kao što su kamen,zlato,drvo,plastika, što daje jedan prijatan i kućni ambijent i elegantnu atmosferu.</p>
               </div>
           </div>
       </div>
   </section>
   <div class="image-bg-fixed-height-2"></div>
   <section>
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="section-heading">Korporativne i privatne žurke</h1>

                   <p class="section-paragraph">Zahvalni smo što imamo priliku da skoro 20 godina budemo lideri u ugostiteljskoj industriji u planiranju i održavanju privantih žurki i korporativnih događaja. Nadamo se da ćemo i u budućnosti imate priliku da vam pružimo širok izbor lokacija za vaš dogadjaj u zavisnosti od prilike.
                   <br/><br/>
                   Kada planirate svoj sledeći događaj - privatnu žurku, proslava zajednice ili sećanja, korporativnu proslavu ili bilo koji drugi razlog - voleli bi da razmišljate o nama.
                   <br/><br/>
                   Da organizujete vaš događaj u MetHotelu molimo Vas da nas kontaktirate preko:
                   Telefona +381 11 33 33 517 ili email: office@met.rs</p>
               </div>
           </div>

       </div>

   </section>
