<div class="image-bg-fixed-height-1">
<div class="centered">
        <form class="forma" role="form" [formGroup]="registerForm">
          <h1>Forma za registraciju</h1>
          <div class="alert alert-danger" style="display: none;">

          </div>

               <div class="form-group">
                <label for="firstName" style="font-size: 18px;color:white;font-weight: bold;">Ime</label>
                <input type="text" class="form-control" formControlName="firstName"  minlength="3" id="name" aria-describedby="nameHelp" placeholder="Unesi ime">
                </div>
                <div class="form-group">
                 <label for="lastName" style="font-size: 18px;color:white;font-weight: bold;">Ime</label>
                 <input type="text" class="form-control" formControlName="lastName" minlength="3" id="name" aria-describedby="lastNameHelp" placeholder="Unesi prezime">
                 </div>
              <div class="form-group">
               <label for="username" style="font-size: 18px;color:white;font-weight: bold;">Username</label>
               <input type="text" class="form-control" formControlName="username" id="email" aria-describedby="usernameHelp" placeholder="Unesi username">

              </div>
              <div class="form-group">
               <label for="password" style="font-size: 18px;color:white;font-weight: bold;">Password</label>
               <input type="password" class="form-control" formControlName="password" minlength="5" id="password" placeholder="Password">
              </div>

              <button (click)="register()" name="submit"class="btn btn-success btn-block">Register</button>
        </form>

    </div>
  </div>
